@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-weight: 600;
  font-size: 1em;
}

/* HEADER - FLEXBOX*/

.text-uppercase {
  text-transform: uppercase;
}

.site-container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin: 100px auto;
}

.title,
.header-content {
  min-height: 105px;
}

.header-content {
  max-width: 440px;
  line-height: 27px;
}

/*TEAM PICTURES - GRID */

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  max-width: 1440px;
  height: 1200px;
  background-color: blueviolet;
  justify-content: center;
  align-items: flex-start;
}

figcaption {
  writing-mode: vertical-lr;
  position: absolute;
  top: -415px;
  right: -25px;
  text-orientation: sideways-right;
  font-size: 16px;
}

picture {
  position: relative;
}

.team-picture {
  max-width: 70%;
  flex-shrink: 1;
  background-color: gray;
}

.team-picture h2 {
  margin-top: 15px;
}

.flex-end {
  align-self: flex-end;
}
